*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    min-height: 100vh;
    background-image: url(images/planet-space-abstract-background-digital-art-hd-wallpaper-uhdpaper.com-234@0@g.jpg);
    padding: 10px;
    background-position: center;
    background-size: cover;
}


.todo-app{
    width: 100%;
    max-width: 540px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.todo-app h2 span{
    width: 20px;
    margin-left: 7px;
}

.todo-app h2{
    color: #ffff;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0f1d2e;
    border-radius: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    height: 45px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: #0f1d2e;
    transition: all 0.4s ease;
    font-size: 16px;
    color: #ffff;
}

.row #btnAdd{
    border: none;
    outline: none;
    background: #0b4e69;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffff;
    transition: all 0.3s ease;
    height: 45px;
    text-align: center;
    padding: 10px;
}

.row #btnAdd:hover{
    background: #0a3d51;
}

#list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#list li::before{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-image: url(images/unchecked.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-right: 10px;
}

#list li{
    padding: 12px;
    background: #0f1d2e;
    border-radius: 12px;
    display: flex;
    align-items: center;
    color: #ffff;
    margin-bottom: 5px;
    position: relative;
    text-align: end;
    user-select: none;
}


#list li span:hover{
    background: #0a3d51;
}

#list li span{
   border: none;
    outline: none;
    background: #0b4e69;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    color: #ffff;
    transition: all 0.3s ease;
    height: 45px;
    text-align: center;
    padding: 8px;
    position: absolute;
    right: 0;
}

#list li.textotarefa2{
    color: #555;
    text-decoration: line-through;
}

#list li.textotarefa2::before{
    content: '';
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-image: url(images/checked.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    margin-right: 10px;

}

@media (max-width: 800px) {
    .todo-app{
        width: 90%;
        max-width: 540px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        margin: 100px auto 20px;
        padding: 40px 30px 70px;
        border-radius: 10px;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    }

    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #0f1d2e;
        border-radius: 10px;
        padding-left: 15px;
        margin-bottom: 20px;
        height: 40px;
    }

    .row #btnAdd{
        border: none;
        outline: none;
        padding: 10px;
        background: #0b4e69;
        font-size: 20px;
        border-radius: 8px;
        cursor: pointer;
        color: #ffff;
        transition: all 0.3s ease;
        height: 40px;
        width: 40px;
        margin-left: -20px;
    }

    body{
        background-image: url(images/planet-space-abstract-background-digital-art-hd-wallpaper-uhdpaper.com-234@0@g.jpg);
    }
}
